@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
    font-family: 'Quicksand';
    box-sizing: border-box;
    border-width: 0;
}
body{
    width: 100%;
}
i {
    font-weight: bolder;
}
.main {
    height: max-content;
}
.brd-styled {
    border-radius: 15px;
    width: 80dvw;
    height: max-content;
    margin-inline: auto;
    margin-top: 10dvh;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #0026ff;
}
.my-6 {
    padding-block: 6dvh;
}

.values {
    font-weight: bold;
    color: rgb(3, 139, 3);
    font-style: oblique;
}
.vlu {
    font-weight: bolder;
    box-shadow: 0 0 5px rgba(0, 255, 102, 0.5);
}
.df {
    justify-content: center;
}

.mg-x {
    width: 90dvw;
    margin-inline: 5dvw;
}

.w-mx {
    width: max-content;
}

.ml-7 {
    margin-inline: 5dvw;
}
.gp-3 {
    margin-block: 1ch;
}
.pb-7 {
    padding-block: 5dvw;
}
.mb-7 {
    margin-bottom: 8dvw;
}
.chrt {
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
}